.frutas{
    background-image: url(frutas.jpg);
    height: 20px;
    width: 600px;
    color: black;

   
}
.carros{
    background-image: url(carros.jpg);
    font-size: 40px;
    color: aliceblue;
}
.listas{
    color:whitesmoke;
    height: 400px;
    width: 800px;
    font-size: 70px;
}
