.frutas{
    background-image: url(frutas.jpg);
    font-size: 50px;
    color: ghostwhite;
}

.carros{
    background-image:url(corsa\ carro.jpg) ;
    font-size: 50px;
    color: ghostwhite;
}

.listas{
    height: 300px;
    width: 700px;
}