*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    }

.container {
    grid-template-columns: repeat()  5,50px ;
    grid-template-rows: repeat(3,100px) ;
    }

    .item-1{
        background-color: blue;
        grid-row: 1/4;
        grid-column:  1/3 ;
    }
    .item-2{
        background-color: green;
    }
    .item-3{
        background-color: red;
        grid-row: 3/3;
    }